[2020-05-28 16:41] devshawn opened #9 "Allow specifying custom group IDs for services"
Currently, `group.id`s are set based on the service name. We'd like to allow developers to set custom group IDs if needed.

[2020-05-28 16:42] devshawn opened #10 "Allow specifying custom kafka connect internal topics"
Currently, kafka connect topics follow a specific format for ACL creation. We'd like the ability to specify custom naming strategies.

[2020-05-29 06:57] BitProcessor opened #13 "Nice to have: import current state"
Use case: running the tool against an existing Kafka cluster setup with some ACLs/topics already configure in `plan` mode (with a minimal state file) currently shows all the ACLs/topics that would be removed. While it is already possible to copy/paste this output and do a little bit of find/replace and other basic edits to come to a new state file that would keep these changes, it would be nice if

[2020-05-29 16:29] devshawn commented on #13
I agree, this is definitely a feature I'd like to have implemented and a completely valid use-case. Generating the `topics` block of the YAML is easy. The ACL section is a bit harder, due to how the `services` block is a lot simpler than direct ACLs.

I think a base implementation could be added that can handle consumer/producer/streams applications easily. ACLs that are completely custom, outside

[2020-06-11 21:26] rkling01 commented on #9
Great suggestion!  Would that option include enabling group * permissions - something like
 ```--allow-principal User:principal --operation read --topic test --group='*'```
or different thoughts on how would that type of acl be implemented?

[2020-06-11 22:22] devshawn commented on #9
It could, though, I'm not sure it would be a good practice to allow a `*` for the custom group id of a specific service. This can, however, be done via the `customAclDetails` block. Documentation can be [found here](https://kafka-gitops.netlify.app/#/specification?id=custom-service-acls).

An example:

[code]

I think that would be correct. Hope that helps!

[2020-06-12 03:52] mj550 commented on #9
Kafka-Gitops is very easy to understand and apply.
Thanks for the example.
I have created a test topic and tried to add acl as provided in above example
`topics:
  test:
    partitions: 6
    replication: 3
    configs:
      cleanup.policy: compact

customServiceAcls:
  my-service:
    read-topic-test:
      name: test
      type: TOPIC
      pattern: LITERAL
      host: "*"
      principal: User

[2020-06-12 13:16] devshawn commented on #9
Hi @mj550, the ACLs are not being shown in the plan/apply because they are not tied to a service. You have to define `my-service` before the custom ACLs will be applied.

Adding this block will make it work:

[code]

As for your other questions, I've written up a demo with your YAML file as well as explained how deletion works. You can see the demo at this gist:

https://gist.github.com/devshawn/6

[2020-07-20 08:47] prabago opened #15 "Error thrown when attempting to list Kafka ACLs"
Hello,

Congratulations... Very interesting this tool!
By running **_kafka-gitops plan_**

gives me the following error:
![image](https://user-images.githubusercontent.com/25517820/87918033-1e359080-ca76-11ea-92b4-03fe7e2761e9.png)

You know what I might be missing?

Thank you very much in advance!

![image](https://user-images.githubusercontent.com/25517820/87918131-47eeb780-ca76-11ea-9fb2-2f8d3f

[2020-07-20 09:46] prabago commented on #15
Hi,

Once I've set this configuration:
![image](https://user-images.githubusercontent.com/25517820/87923910-75d7fa00-ca7e-11ea-8d32-6c3285d848d3.png)

I don't get that error anymore, now I get the next one:
![image](https://user-images.githubusercontent.com/25517820/87923975-8d16e780-ca7e-11ea-8d25-fe154874ca07.png)

Any suggestions?

Thanks in advance!

[2020-07-20 13:22] #15 closed

[2020-07-31 05:53] GreyKn opened #16 "Speed up topic fetching by running requests in parallel"
I have a kafka server with >100 topics. State appears to be fetched from Kafka serially, so a plan takes 3+ minutes.

[2020-08-05 20:12] infogulch opened #17 "Validate should also check enum variant spelling"
Hi!

While using `apply`, I found that I misspelled the `resource_pattern` field as `PREFIX` when [it should have been `PREFIXED`](https://kafka.apache.org/20/javadoc/org/apache/kafka/common/resource/PatternType.html) and got this error.

[code]

I did run the `validate` command beforehand, but it did not catch this error.  I think validate should check enum fields to make sure they are valid befo

[2020-08-05 20:27] devshawn commented on #16
I agree. I believe this is because we fetch topic configurations for each topic one-by-one.

[2020-08-05 20:27] devshawn commented on #17
Thanks for the suggestion/report! I'll have this in the next release.

[2020-08-06 14:46] nullcaster opened #18 "GSSAPI(Kerberos) authentication"
Hi,
We are using self-hosted kafka cluster with GSSAPI(Kerberos) authentication.
Can I add this feature and make a PR?

[2020-08-06 17:34] devshawn commented on #18
Yes, that would be great! I would happily accept a PR for this contribution 😄

[2020-08-07 18:05] infogulch opened #19 "Environment-specific state?"
I'm using kafka-gitops for managing access across multiple clusters in different environments, and finding that it would be nice to have a way to deploy some state to certain environments and not others.  For example, my testing/user-dev cluster might have topics for in-development projects or extra topics for testing different application configurations that I would never want to reach prod, but

[2020-08-10 06:09] AntAreS24 opened #22 "kafka-gitops user permissions"
Hi,

I'm currently looking at locking down the cluster as much as possible, and as such, I was wondering what would the minimal permission for the kafka-gitops user would be?

Could we have an example in the doc on that?

[2020-08-10 23:09] AntAreS24 commented on #22
So far, I'm thinking to create a user called "gitops-user" (whatever the name is fine) and assigned the following permissions:

`./kafka-acls.sh  (...) --add --allow-principal User:gitops-user   --operation Create --operation Delete --operation Alter --operation Describe  --topic '*'`

[2020-08-11 03:27] devshawn commented on #22
Hi @AntAreS24, I've added some documentation on this here:

https://devshawn.github.io/kafka-gitops/#/permissions

I've run some tests and I believe those are the correct credentials. See [example state file](https://devshawn.github.io/kafka-gitops/#/permissions?id=state-file-definition) for how to do it with kafka-gitops.

Essentially you need the topic and topic config ACLs set for managing topi

[2020-08-11 03:36] devshawn commented on #19
Hi, thanks for the lengthy description! This is a totally valid issue/enhancement request.

Currently, my organization and projects follow number 5. We have a separate state file for each environment. I agree, it is not thoroughly tested through lower environments -- but this is semi-common with Terraform and similar tools (at least in my experience).

**My thoughts**:
1. Good thought, but I don't

[2020-08-11 04:11] AntAreS24 commented on #22
Great, perfect!

I was missing the Alter permission on the cluster...

[2020-08-11 04:11] #22 closed

[2020-08-11 22:50] devshawn commented on #17
The validate command should support this now, released in [0.2.5](https://github.com/devshawn/kafka-gitops/releases/tag/0.2.5). 😄

[2020-08-11 22:50] #17 closed

[2020-08-11 22:53] devshawn commented on #16
Hey @GreyKn, feel free to give [0.2.5](https://github.com/devshawn/kafka-gitops/releases/tag/0.2.5) a try. From my initial testing, the `plan` process has significantly improved.

[2020-08-11 22:53] #16 closed

[2020-08-11 23:07] infogulch commented on #19
Thanks for responding to my overly detailed issue description in kind! 😅

I mostly agree with your thoughts on the options I presented, and acquiesce that 5 is probably the best current solution.  It's clear, simple to implement, and doesn't hide any essential complexity.  Which together likely more than makes up for the little bit of duplication required.  (My DRY-sensor is way overtuned anyways.

[2020-08-11 23:10] infogulch commented on #17
Thank you!

[2020-08-13 00:11] devshawn commented on #19
Great thoughts, thank you for giving my proposal a great once-over.

Services being different per environment didn't really cross my mind -- I thought some services might be per-environment, but not differ -- is that a valid use case you've encountered?

Great list of strategies here -- I think my preference would be number 1 as well. Here are my thoughts on the others:

- Number 2: I personally w

[2020-08-13 00:21] devshawn commented on #19
It does bring me back to thinking that your original number 2 suggestion may be good -- allow a base state file and an overrides file. Helm has proven it works decently well. I would think about it less as "merge two state files" and more as "one base state file, with an optional override file" (with the override file being environment-specific or however the end-user chooses). I think both option

[2020-08-13 10:50] AntAreS24 opened #24 "How to use with shared environments?"
Hi,

We're using Kafka as a shared cluster and as such, we have multiple projects with multiple teams working in parallel. We are planning on having 1 repo per project/system, with their own states and plans, but during our initial testing, we realised that one project is wiping the config of another project since we don't have an overall state file.

Is that the intended purpose?
Is there a way t

[2020-08-13 10:55] AntAreS24 commented on #24
It even deletes it's own user permissions (assuming we've applied this: https://devshawn.github.io/kafka-gitops/#/permissions?id=manually-add-acls)
`/gitops$ ./kafka-gitops apply
Executing apply...

Applying: [DELETE]

- [ACL] Unnamed ACL
         - resource_name: *
         - resource_type: TOPIC
         - resource_pattern: LITERAL
         - resource_principal: User:gitops-user
         - host:

[2020-08-13 12:55] devshawn commented on #24
Hey,

The intended design of this project was to have a single state file per cluster, with all teams and projects contributing to it. This was to allow security & operations teams to review access control. The workflow in my organization goes like this:

- There is one state file per environment in a single `kafka-environments` repository
- Development teams each have a "section" in the state fil

[2020-08-13 19:01] infogulch commented on #19
Both of your examples trying to put environment-specific overrides underneath the main object declaration rubs me the wrong way, though I'm not sure I can articulate why.  Maybe because it makes interpreting the block an exercise in applying the merging rules in your head.

So I think this means I prefer replacing the service/topic entry entirely or not at all.  Each entry is a self-contained conf

[2020-08-13 20:21] infogulch commented on #19
After thinking about rule No 5, I'm not sure if this is the right way to solve dependency problems.  E.g. how would a service consume from a 'shared' topic defined in a central state file and produce to a 'private' topic defined in a team's state file?  I think we'll need to relax or eliminate 5 to avoid this.

[2020-08-13 22:37] devshawn commented on #9
Overriding the `group.id` for applications/connect clusters and `application.id` for streams has been added in [0.2.6](https://github.com/devshawn/kafka-gitops/releases/tag/0.2.6). 🚀

[2020-08-13 22:37] #9 closed

[2020-08-13 22:38] devshawn commented on #10
Overriding our default Kafka Connect internal storage topics convention has been added in [0.2.6](https://github.com/devshawn/kafka-gitops/releases/tag/0.2.6). 🚀

[2020-08-13 22:38] #10 closed

[2020-08-13 22:45] infogulch opened #28 "Executing Apply when there are no changes should exit success, not throw PlanIsUpToDateException"
I created a new release to apply to a new environment after a previous release successfully applied on the dev environment.  But the deploy/apply to dev (which had no changes) failed with:

[code]

Given that this tool is intended to be used with automation to apply desired state configuration, if no changes are required to make the current state match the desired state that should be represented

[2020-08-14 00:20] devshawn commented on #28
Good catch! I'd probably consider this a bug, as that should be the intended behavior.

I think I'll fix this as well as output a plan file even when the desired state matches the actual state. I found that when testing this locally, that if my old plan file sticks around, you can end up double-applying if you try to apply after doing a plan with no changes. I agree that it should be an optional f

[2020-08-14 14:03] almazik opened #30 "Support multi-rack/multiregion constraints"
Provide the ability to configure `confluent.placement.constraints` instead of just the number of replicas as described here:
https://docs.confluent.io/current/multi-dc-deployments/multi-region.html

The main use case for us is to be able to set up observers in a different data centre for disaster recovery purposes.

[2020-08-14 20:37] devshawn commented on #30
Hi @almazik,

This would be interesting to implement. I'd have to understand how Confluent's `kafka-topics` modification with the `--replica-placement` flag works. Under the hood, we're just using the basic Apache Kafka AdminClient to create and manage topics.

Since it appears to just be a topic configuration set to a JSON object, you may be able to do it with our tool already. I'll have to do so

[2020-08-14 20:48] infogulch commented on #28
Also noticed, if planning does not emit any changes, it will not write anything to or create the indicated plan file.  For automation I think it would be better to emit an empty plan file (or a plan with an empty list etc).

[2020-08-14 21:17] jurschel opened #31 "Possible to use this against an existing cluster and not destroy it?"
So given that we have existing clusters is it even possible to use the tool just to create topics?

[2020-08-14 21:47] devshawn commented on #31
Yes, you can use the tool to just create new topics. You can run `kafka-gitops` with the `--no-delete` flag, and it will only plan/apply creates and updates.

Example state file `new-topics.yaml`:

[code]

Run against the cluster:

[code]

Over time, you can slowly start to add existing topics (and services, if desired) to your state file until we have implemented import functionality (#13).

[2020-08-14 21:48] jurschel commented on #31
Ah ok thanks for the response.  I was about to reply with the below.  I did see something about the --no-delete option just hadn't gotten to it yet.

I see in your documentation that applying this against a cluster is destructive if you don't have all the topics in the state file.  Shouldn't you leave any built-in topics like _confluent.support.metrics, _confluent_offsets and _schemas alone comple

[2020-08-14 21:50] jurschel commented on #31
That worked.  Good work.  Now I'm going to get my central repository for topics going!

[2020-08-14 21:59] devshawn commented on #28
Yes, I also noticed that yesterday as I was addressing this issue. Both issues have been fixed and released in [0.2.7](https://github.com/devshawn/kafka-gitops/releases/tag/0.2.7). 🚀

Thanks for the report 😄

[2020-08-14 21:59] #28 closed

[2020-08-14 22:00] devshawn commented on #31
Glad to hear that worked, @jurschel!

It would probably be a good idea to completely ignore those specific topics, but we've chosen so far to just define them as-is in our state file.

You can also use the topic blacklist option to have the tool ignore topics on a prefixed basis:

[code]

Good luck with getting your central repository going! Let me know if you have questions! 😄

[2020-08-14 22:00] #31 closed

[2020-08-14 22:02] devshawn opened #32 "Allow specifying a default replication factor"
The replication factor of topics within a cluster is often static (e.g. almost all are set to `3`, for example).

We should support setting a default and making the `replication` field optional.

[2020-08-14 22:06] devshawn opened #33 "Improve documentation on --no-delete flag"
As many users already have a cluster with topics/ACLs defined, we should provide better documentation for using `kafka-gitops` against an existing Kafka cluster. This includes improving the documentation around the `--no-delete` flag and topic blacklist setting.

[2020-08-18 19:18] jurschel opened #34 "Add support for increasing number of partitions in a topic"
Given the following statefile:
[code]
Desired state:
When I update partitions to 6 I expect the tool to increase the number of partitions.
Actual State:
Executing apply...
[SUCCESS] There are no necessary changes; the actual state matches the desired state.

Kafka Version -  2.1.1-cp1
Kafka-gitops version - 0.2.7

[2020-08-18 20:37] devshawn commented on #34
That's correct, changing the number of partitions or changing the replication factor is not yet supported.

I should probably make that clearer in the docs.

[2020-08-18 21:15] jurschel commented on #34
So what changes are supported?

[2020-08-18 21:19] devshawn commented on #34
Changes to the number of partitions in a topic is a rare occurrence in my experience, and usually, something you want to have planned out (e.g. if you have keyed messages, you're now going to be distributing keys differently across the partitions).

For topics, you can currently change its configs. For example:

[code]

Changing a config:

[code]

Most of the supported changes are for services/ACL

[2020-08-18 21:22] jurschel commented on #34
Funny you should mention that...

~ [TOPIC] orders
        ~ retention.ms: 32536000000

[ERROR] Error thrown when attempting to update a Kafka topic config:
org.apache.kafka.common.errors.UnsupportedVersionException: The broker does not support INCREMENTAL_ALTER_CONFIGS

[2020-08-18 21:28] devshawn commented on #34
Ah, yes, you can run into this when using an older broker version. We rely on the IncrementalAlterConfigs API due to how the old AlterConfigs API worked:

I've thought about including a fallback option using the old AlterConfigs API but I found it was quite messy; it seemed like it was easy to accidentally overwrite or lose (default or user-defined) topic configurations.

Support for this API was

[2020-08-19 21:37] #32 closed

[2020-08-27 22:53] infogulch opened #38 "Missing customUserAcls"
I'm defining permissions for schema registry, but after applying none of the permissions listed under customerUserAcls are present in the cluster with a `kafka-acls.sh --list`

This is the customUserAcls section of my `state.yml` file:

[code]

Any idea what's going on?

[2020-08-28 14:16] devshawn commented on #38
Hey,

Does the plan have any changes when you try to plan? My guess is you're missing a definition of the user:

[code]

It won't generate any ACLs for a user that isn't defined. I should probably make validation fail in that case.

[2020-08-28 15:28] infogulch commented on #38
Yep that did it!  I think that happened when I refactored the state file to use services instead of raw customUserAcls which is what I started with.

I think that would be great!

[2020-08-28 15:28] #38 closed

[2020-09-09 19:18] devshawn commented on #19
Hey @infogulch, thanks for the list of thoughts! Just wanted to let you know I haven't forgot about this -- just have been super busy lately. I'll hopefully respond with some thoughts later this week. 😄

[2020-09-10 09:09] sergialonsaco opened #40 "How to setup kafka-gitops with Kafka cluster running in AWS EKS?"
Hi!

Is there any way to setup kafka-gitops to work agains a kafka cluster inside an AWS EKS cluster?
Right now the only option I found is to create a docker image with the kafka-broker + kafka-gitops and running it on EKS, but I wonder if there is any option to run the kafka-gitops from outside the EKS.

Thanks so much!

[2020-09-18 18:03] alex036 opened #41 "State file topic configs"
Hi there,

I've added some topic configs to my state file, and when running a plan, it's trying to add the configs that already exist?

Context:
Topic is pre-existing and was created using the `ccloud` cli tool. Some configs were passed at the time of topic creation using `--config`. I'm looking to 'import' the topic into the state file.

Examples:

State.yaml
[code]

ccloud kafka topic describe (

[2020-09-18 18:35] devshawn commented on #41
Hi @alex036, these are not showing as changes because they are considered broker defaults -- Confluent Cloud defaults to a cleanup.policy of `delete` and a retention time of `7` days, e.g. `604800000` ms.

So, when the tool looks for topic configs, it only looks for user-defined ones. Thus, the tool believes these configs have not been changed and ignores them. If you want to have the defaults exp

[2020-09-18 18:46] devshawn commented on #40
Hi @sergialonsaco, sorry for the late response!!

I'm not super knowledgeable with EKS specifically, but kafka-gitops just needs access to the kafka broker. So, you need to run kafka-gitops from a machine or container that is able to connect to the kafka broker. You could run kafka-gitops from outside of EKS, inside an EC2 instance for example, as long as the networking is set up correctly inside

[2020-09-18 19:06] alex036 commented on #41
Hey @devshawn,
Appreciate the prompt reply.

I've been playing around with adding in other existing topics and I think I based most of my testing off of some test/unused topics that may have indeed been 100% default.

The other topics now have plans with the following as an example:
[code]

Then I've just been adding in those custom configs to the state and re-planning to confirm the state and the

[2020-09-21 08:36] sergialonsaco commented on #40
Thanks! totally agree! Will go for exposing the broker to an internal VPN :) thanks

[2020-09-22 15:28] #41 closed

[2020-09-22 15:49] alex036 opened #42 "Allow 'customServiceAcls' to be placed into a 'services.yaml' file"
Hey,

It'd be nice to be able to put `customServiceAcls` into a `services.yaml` to keep things together.

Example:
[code]

Placing the `customServiceAcls` block into the `services.yaml` file doesn't read the ACLs, they need to be placed into the root `state.yaml` which makes things a bit messy, and unorganized. I'd like to be able to place the custom ACLs related to my services with where my servi

[2020-09-23 18:05] devshawn commented on #42
Hey, this is a great suggestion. I'll look into having this in the next release. Thanks for the suggestion!

[2020-10-13 02:37] drewwells commented on #24
Distributed configuration is a useful and scalable model. We have quite a few teams using Kafka. One of the main driving forces for adoption of Kafka is to have loosely coupled systems.

One way to decouple systems is to delegate ownership of configuration to individual groups. Say a topic is owned by the Logging publishing team. The topic would be created with additional metadata that other worke

[2020-10-14 15:48] devshawn commented on #24
@drewwells - definitely agree with you here. I especially like the idea of a kubernetes operator. In that scenario, how would you manage security?

[2020-10-14 17:16] drewwells commented on #24
Depends on how the yaml is stored. It could be in s3, then s3 ACL would manage access to yaml.

Our desired state would be K8s. For that example, we write an [K8s Operator](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/) that is responsible for taking state from Custom Resources (CRs) and persisting that desired state to Kafka.
Users would not require access to create topics in Ka

[2020-10-29 16:34] erikhh opened #43 "Double quotes in passwords are not escaped"
First of all, thank you for creating this wonderful piece of kit! It is ridiculously useful.

We're using SASL-SCRAM login on our Kafka, but looking at the code this issue would be applicable to all JAAS usernames and passwords.
Our passwords are randomly generated and occasionally contain double quote characters (`"`). The config for the gitops user looks somewhat like this:

[code]

Then when ru

[2020-10-29 22:06] #43 closed

[2020-10-30 14:46] devshawn commented on #43
Thanks @erikhh, I'm happy you are a fan of the tool! I've merged your PR and released it in `0.2.13`.

[2020-11-02 12:25] erikhh opened #46 "Support for templating?"
We run a multi tenant system. In general environments are the same except for the name of the tenant. To keep hosting overhead down we'd like to have all our tenants share one Kafka cluster. Where we keep the tenants apart using ACLs.

To do this now with Kafka-Gitops we would need to have a lot of repetition in our state file, and thus a lot of messy copy- paste-adapting every time we need to con

[2020-11-03 14:40] RobinGoussey opened #47 "Nullpointer exception thrown on empty topic properties."
Hi, I tried running the docker (through docker compose), and I received a nullpointer exception without explenation. I don't really know if it can be seen as a bug, or missing error message. Basically if I just fill in the name of the topic, and rely on defaults, it gives a nullpointer exception.

I tried to create topics, but with all settings in default, and I got a nullpointer exception.
Comman

[2020-11-03 14:56] devshawn commented on #47
Hi @RobinGoussey, thanks for the detailed report! You're receiving a null pointer exception as this isn't valid yaml (per the parser kafka-gitops is using, at least. It may be transforming it to an array instead of an object):

[code]

That probably needs a better error message. It would need to be structured as:

[code]

With this fix, if you run it, you'll get the following error message:

[code

[2020-11-07 09:52] RobinGoussey commented on #47
Hi @devshawn, I think all settings should be able to be defaulted, as this would make a default template possible, and only the topic names as a list of topics. So an enhancement would be nice :)

[2020-11-22 21:16] edmondo1984 commented on #19
@devshawn how about a microservice like approach where each microservice is responsible to create its own topics?

[2020-11-23 15:42] devshawn commented on #19
@edmondo1984 I like where you're going with this; we manage RabbitMQ in similar ways (where queue bindings are created by the consumers). I think this would scale well for the topic portion of kafka-gitops. Using a compacted topic for storing the state of kafka-gitops is a great idea.

However, a big portion of kafka-gitops is used for managing services and ACLs. Not everyone is using it for manag

[2020-11-23 15:46] devshawn commented on #46
Hi @erikhh, apologies for the late response. It's a busy time of year for me. :)

I think this is a great idea, and we've discussed some similar features in some of the other open feature requests. I think some sort of templating would be helpful. Do you have specific examples of the types of templating that would benefit you the most?

I like this idea -- agreed. I'll have to think about what the

[2020-11-23 16:42] edmondo1984 commented on #19
@devshawn think about what happens when you run multiple microservices backed by a single physical database server.
Each microservice should be able:
- to create a new database
- to create different users for their database (one to run schema changes, one that will be used by the app, and some read-only users let's say for a kafka connect instance polling via a jdbc connector)
- to apply migration

[2020-11-27 19:05] devshawn commented on #18
@nullcaster - Did you ever end up working on this?

[2020-12-02 21:07] nullcaster commented on #18
@devshawn  - Sorry, I missed it. I will try to do it in the near future.

[2020-12-07 10:33] erikhh commented on #46
Hi @devshawn, I know right?! Same here, sorry for the late response.

For now I just had to get 'my thing' here going. So I went ahead and added a bit of [Mustashe](https://mustache.github.io/) to at least get my principal based repetition out of the way. It ain't exactly pretty but it's functional. I made our CI pipeline take a Mustasche template of the state.yaml and apply the correct variables

[2020-12-10 16:44] fholzer opened #48 "support PREFIXED consumer groups"
Are there any plans to support `PREFIXED` consumer groups (service type: application)?

For now I implemented this at in [my fork](https://github.com/fholzer/kafka-gitops/tree/add-service-prefixed) though as I'm not familiar with the code base and only need this for service type `application` I didn't touch files related to other service types.

[2020-12-14 14:22] devshawn commented on #48
Hi @fholzer, I'm happy to support this enhancement. I'll likely use your implementation as a starting point and get a release built sometime this week -- does that help you out? 😄

[2020-12-14 16:48] fholzer commented on #48
Hi Shawn, that sounds really great. That way I don't have to maintain my fork with that patch applied ;)
Cheers/f

[2020-12-24 10:49] swapnilborade opened #49 "Idempotency issue"
For some topics , we are facing idempotency issue. It creates topic first time but during second run we get below issue.

I am not able to reproduce similar issue on other kafka cluster.

./kafka-gitops -v -f new.yml --no-delete apply
Executing apply...

03:39:06.846 [main] INFO com.devshawn.kafka.gitops.config.KafkaGitopsConfigLoader - Kafka Config: {bootstrap.servers=localhost:9092, client.id=ka

[2020-12-24 18:24] devshawn commented on #49
Hi @swapnilborade,

Without more information, I'm not sure I have much advice to offer. Do you have security on this cluster? My first guess would be the permissions for the user running `kafka-gitops` does not have the correct ACLs. This could make it so when we fetch the list of topics for the cluster, we do not get all of them, thus, kafka-gitops would try to re-create a topic that already exis

[2020-12-24 18:26] devshawn commented on #49
It may help to run `plan` and `apply` separately and output the plan as a file to investigate further.

[2020-12-31 04:39] wolever commented on #46
For what it's worth, I've been using [jsonnet](https://jsonnet.org/) and been happy with it (… at least, as happy as one can be when they need to template JSON).

They even have a tool to convert YAML -> JSON to make the import easier: https://jsonnet.org/articles/kubernetes.html

Here's a bit of the config I use:

[code]

[2020-12-31 04:42] wolever commented on #24
I'm having a similar issue… and while a Correct Fix would be _ideal_, a pragmatic fix - at least for me - would be an option to ignore users, topics, ACLs, etc. Something like:

[code]

[2020-12-31 10:47] RobinGoussey opened #50 "Feature request: managing schemas"
Hi,

Right now there is nothing like this for schema management. It might be useful to also allow/declare what topics/subjects use what schemas:

[code]

This would allow the topic state, and schema state to be managed by one tool/file.
java -jar kafka-schema-gitops-1.0-SNAPSHOT-jar-with-dependencies.jar -i <input_yaml> validate # or execute

[2021-01-13 22:00] danielprinz commented on #49
Thanks. Had a similar issue. Applying the correct permissions of the git-ops user solved it 🎉 => [doc](https://devshawn.github.io/kafka-gitops/#/permissions?id=state-file-definition)

[2021-01-17 23:46] mhbrk opened #51 "Feature request: possibility to manage topics only"
Hi,
It's a great tool.
It would be nice to have possibility to manage only kafka topics, without ACLs.

When I tried to `plan` config file with topics configuration I get this error:

[2021-01-21 23:22] jrevillard commented on #34
Hi @devshawn,

This would be indeed a very nice feature. Would you already I idea if this could be implemented soon or not ?

Best,
Jerome

[2021-01-25 16:39] devshawn commented on #51
Hmm, I will take a look into this. I've used it on clusters for only topic management but never had this exception come up.

[2021-01-25 16:39] devshawn commented on #48
Hi @fholzer, sorry for the delay. I hope to have this added and released by the end of the week. Thanks!

[2021-01-25 16:40] devshawn commented on #34
Hi @jrevillard, I have the code written for it, just need to finish writing tests. I hope to have it finished and released by the end of the week. Thanks!

[2021-01-25 17:26] jrevillard commented on #34
Hi @devshawn .. I developped it this week .... :-) ... I completing the tests also :-) ;.. should I continue ?

[2021-01-25 19:31] fholzer commented on #48
No worries at all. As long as there's no other new features we're interested in, we're fine with using my fork for now. 😋

[2021-01-27 11:49] Cinetik commented on #51
This PR quickly fixes it.
I noticed that if you have security enabled, you won't be able to list ACLs using bootstrap servers. However another possibility would be to add a way to connect using Zookeeper and therefore not have this security error.
this works like be using the authorizer-properties and giving zookeeper host e.g.
```$ /usr/local/bin/kafka-acls --list --authorizer-properties zookeepe

[2021-01-27 12:13] jrevillard commented on #51
Hi @Cinetik I think this depends on the Kafka version that you use.  At least it's possible now because I do it actually. ie:
[code]

Best,
Jerome

[2021-01-27 13:35] Cinetik commented on #51
@jrevillard I don't know your version but I'm on 2.6.0

[2021-01-27 13:57] jrevillard commented on #51
I'm using kafka packaged by confluent (6.0.X) so 2.6.X also.

[2021-01-27 14:24] Cinetik commented on #51
Sadly still doesn't fix the problem that kafka-gitops will fail without any of those :/

[2021-01-27 16:14] dhakerk opened #55 "Is there a way to generate the current state of the cluster"
Hi,

Having a Kafka cluster already in place is there a way to generate the current state file of the cluster?

Thanks.

[2021-01-27 16:18] #55 closed

[2021-01-27 16:19] dhakerk commented on #55
this is a duplicate of Nice to have: import current state #13

[2021-02-02 21:14] devshawn commented on #50
I really like this idea. I will definitely take this on in the future; though I'm not sure exactly when I'd have time to take it on. I could see it happening within the next couple of months.

[2021-02-02 21:14] devshawn commented on #49
@swapnilborade Let me know if you are still seeing issues after looking into the permissions for your gitops user. Thanks!

[2021-02-02 21:14] #49 closed

[2021-02-15 10:30] fholzer opened #56 "improve validation of customUserAcls"
Keys in customUserAcls are silently ignored in case there is no equivalent user defined. Maybe the validate step could check for that.

[2021-02-17 23:38] #51 closed

[2021-02-18 00:41] devshawn commented on #51
Released in [0.2.14](https://github.com/devshawn/kafka-gitops/releases/tag/0.2.14)! Thanks @Cinetik!

[2021-02-24 20:48] jrevillard commented on #50
I'm very much interested into this too. I'm ready to help with this.

Best,
Jerome

[2021-02-24 22:55] devshawn commented on #50
I love this idea and this would be an awesome feature to have. I think it fits in great with the other features of kafka-gitops. I've got some availability coming up and would be able to help out as well.

@jrevillard I'd be happy to have your help as well! With a feature this big, I'd like to do a bit of planning & outlining before we get started on the code. I'd like to make a few examples of ho

[2021-02-26 17:09] mundey opened #59 "Unable to import/match existing confluent cloud configuration in yaml"
environment: confluent cloud
I was trying to create state yaml so that it would not delete existing configuration:
-state.yaml-
[code]
-topics.yaml-
[code]
-services.yaml-
[code]
After clearing validation, when executed plan, it always shows removing existing acl/permission. I assumed service-account should exist in "services:" and under "customServiceAcls:" defining it's value as the service-acco

[2021-02-26 17:50] mundey commented on #59
never mind, it might be some inclusion issue. it seems to be functional now.

by the way, it's great project. appreciate for all the effort

[2021-02-26 17:50] #59 closed

[2021-02-26 19:07] mundey opened #60 "confluent cloud related values and dry run view command possibility"
1. when we use confluent cloud cli (ccloud) to create topic, it does not require replication while this gives an error while not specifying replication in yaml
2. For customServiceAcls entry, host: is required in each while not sure if this is of any use for confluent cloud.
3. is it possible to see commands which will be executed in dry-run/plan mode or even when actual execution takes place, wou

[2021-02-26 19:14] mundey opened #61 "is it possible to specify multiple operations related to a single resource for acts"
when needed to specify entries for a service account but operations on same topic/group/resource, there is repetition. could it be possible to add operations in a single entry:
[code]

[2021-02-26 21:14] mundey opened #62 "confluent cloud topic config values default not working"
this behavior is weird and not sure if the reason is because of constant changes in confluent cloud or something else.
we created with topics web/cli in the past and now intend to manage in this tool and the topics were created with defaults and no specific configs. So, intending to add the topics in this tool. here is a sample
[code]

this topic above was created I think with web ui and then some

[2021-03-13 14:01] afshinyavari opened #63 "Question, adding keystore/truststore to kafka-gitops CLI"
Hi,

Im considering using this on our cluster with mTLS with certificates for authentication. Is it possible to pass truststore and keystore when running the kafka-gitops CLI?

Thanks,

[2021-03-19 09:03] johnrkriter opened #64 "kafka-gitops fails during account creation when ccloud uses SSO"
Currently I am planning on using this tool on an environment where the authentication with ccloud is actually done through SSO. Our subscription is activated using Azure AAD as our identity source. As such, login with XX_CCLOUD_EMAIL and XX_CCLOUD_PASSWORD is not possible. It is worth noting that  currently I am using ccloud clusters that have internet broker endpoints.

To try and circumvent this

[2021-03-21 22:17] thunter commented on #63
I figured out that its possible, you need to set the following environment variables:

[code]

[2021-04-06 10:10] afshinyavari commented on #63
Thank you!

[2021-04-15 07:52] jrevillard commented on #50
Hello,

I just seen that you have a first implementation @Twb3 ! https://github.com/Twb3/kafka-gitops/commit/50fa5ccb54ec77ee618d4152436a66804783fa9c

What's the status ? Do you need help ?

Best,
Jerome

[2021-04-19 11:07] jrdi commented on #13
@devshawn any news here? It would be great to be able to easily generate the current state file with a single command 😄

[2021-04-21 06:48] HSA72 commented on #50
Looking forward to having this feature @Twb3!

[2021-04-27 21:32] Twb3 commented on #50
Hey guys sorry I did not see this earlier.  I did a quick POC for myself to see what's possible.  I think I've got it mostly nailed down.  I hope to propose a file structure soon.  Just need to write it up

[2021-04-27 23:35] Twb3 commented on #50
# Schema Registry POC

https://github.com/Twb3/kafka-gitops/commit/50fa5ccb54ec77ee618d4152436a66804783fa9c

## Proposed Schema State File Structure

[code]

Each schema entry above is the name of the subject to be registered in the Schema Registry.  I did this to keep it similar to how topic and service entries are the name of the resource to be created.

Type is self-explanatory although this PO

[2021-04-29 15:42] HSA72 commented on #50
Nice. Avro is a very good start. Just make sure that this also will work against schema registry in confluent cloud.
When can we start testing? :)

[2021-04-29 16:10] jrevillard commented on #50
Dear @Twb3,

This seems really promising thanks !

Yes Avro is a good start and the final goal would be to support: Thrift, Protocol Buffers, and JSON Schema. You say that you use the Confluent's Schema Registry Client to validate that the Avro schemas, so I think that this library would be capable of validate the other types isn't it ?

Concerning config, I could contribute with Kerberos as I wil

[2021-05-03 13:35] gquintana opened #65 "Feature: get connection config from file"
Reading Kafka connection config from environment variables is alright when using Docker.

But when running kafka-gitops without Docker (makes me sad), setting environment variables may reveal passwords to anyone being able to read `/prod<pid>/environ`

Being able to provide an `admin.properties` file containing Admin client settings would be very useful.

[2021-05-03 16:19] gquintana opened #66 "Question: users and customUserAcls config"
As far as I understand users and ACLs are in 2 separate sections:
[code]
Why are they separate? What about:
[code]
Or to be able to share ACLs groups among several users:
[code]

[2021-05-04 15:10] gquintana commented on #61
I agree, this would make state file less verbose.
And it would be closer to what kafka-acl tool can do in a single run.
But it would make plan computation harder I guess.

[2021-05-04 15:12] gquintana commented on #56
Kafka allows déclare ACL rules on users which are not declared.

[2021-05-04 15:18] gquintana commented on #33
As I deleted everything on my dev cluster on my first attempt with kafka-gitops, I would prefer to inverse the flag and get an `--allow-delete` flag. For safety reasons, to avoid tears, it would be a wise change.

[2021-05-11 12:01] jrevillard opened #67 "Project status ?"
Dear all,

@devshawn, I just would like some information about the project status as we did not here from you since nearly 2 months now.

I think that you made a really good job and kafka-gitops seems to be interesting for many persons including me. I personally integrated it into my company processes to manage our Kafka clusters and I would really like to see some feature integrated like Schema m

[2021-05-12 09:21] AntAreS24 commented on #24
We've resolved that by running with "no delete" flag. In our environment, deleting something should almost never happen anyway.

[2021-05-14 17:21] devshawn commented on #67
Hey @jrevillard,

Agreed, it can be hard and I'm happy the tool has helped you out. I apologize for not being around and letting your PR sit for so long.

I'd be open to adding some more maintainers in the future after discussing some code style + code structure that I'd like to follow since I can be a bit picky in my projects :)

I also booked time this weekend to get your PR reviewed and merged.

[2021-05-14 17:23] #63 closed

[2021-05-14 17:26] devshawn commented on #61
This was a stylistic choice we made when building the tool -- for custom ACLs, we wanted each ACL explicitly defined so there was less "black magic" happening since you are defining actual ACLs, not an abstraction like a service.

However, I can see the benefit in allowing something like multiple operations.

[2021-05-14 17:27] devshawn commented on #47
We can open a new issue for the enhancement 👍

[2021-05-14 17:27] #47 closed

[2021-07-19 12:49] jaykatti commented on #13
@devshawn  Hello Shawn, Would you pls. have any update on this feature of "Generating the current state of the cluster" ?

[2021-07-20 09:31] jaykatti commented on #13
I am trying to use this on one of our clusters. Currently in PoC mode. This feature of "Generating the current state" would be a very crucial one. Kindly let us know when we can try that.

[2021-07-20 10:03] stv-io commented on #13
I know that this is not a solution, but given the setup I'm working on I "generated" the state from the API of [kafdrop](https://github.com/obsidiandynamics/kafdrop) using a script

[code]

not pretty, but for my case, get's the job done, on request.

[2021-07-20 10:19] rolandjohann commented on #66
especially the RBAC solution would be great

[2021-08-05 02:39] andrecowie opened #73 "Build Documentation"
Hey I want to use this, but need to update the kafka-clients to 2.8.0 in the build path.

How can I rebuild the jar using gradle? Or could we get a new release :)

[2021-08-05 10:09] jrevillard commented on #50
Hi @Twb3 @HSA72 @devshawn ,

I don't know if you were aware of this: https://github.com/domnikl/schema-registry-gitops

[2021-08-05 11:41] jrevillard commented on #50
There is one thing which is complicated for me to answer which is: how to deal with schema ids and versions ? Indeed, those IDs are generated server side and are used by the Kafka clients to identify the good schema. This means that there is no way to ensure the a schema will have the good ID/version and therefore, kafka-gitops cannot be the source of trust for this isn't it ?

[2021-08-05 19:32] red8rain opened #74 "Q: Custom User ACLs"
Hello,
in my state.yaml file, i have this block of sample code:

customUserAcls:
  my-test-user:
    read-all-kafka:
      name: data-
      type: TOPIC
      pattern: PREFIXED
      host: "*"
      operation: READ
      permission: ALLOW

in the output of the 'plan' switch, it doesn't show the acl being added.  Additionally, do I use 'read-all-kafka' if the user only need to read from only 1 topi

[2021-08-06 15:23] red8rain commented on #74
nevermind, figured it out.  had to use users: w/ customUserAcls:

[2021-08-06 15:23] #74 closed

[2021-08-06 18:27] red8rain opened #75 "question about state.yaml file"
In my state.yaml file, i have the following:

settings:
  files:
    topics: topics.yaml
    services: services.yaml
    users: users.yaml
  topics:
    blacklist:
      prefixed:
        - __amazon

I have the topics.yaml, services.yaml and users.yaml files in the same location as the state.yaml file.  When I run the validate and plan command, it is ignoring the users.yaml file and attempting to

[2021-08-13 16:52] jrevillard commented on #50
As promised, you can more than a POC implementation in #76 !

Please comment, improve etc...

[2021-08-19 00:48] devshawn commented on #67
A new release will be pushed this weekend with the latest PRs incorporated. We will discuss the schema registry addition after that and possibly open up the project to a few more contributors. I was quite backlogged but I no longer have that backlog and will get new releases pushed regularly for kafka-gitops.

Expect a new release by the end of this weekend, hopefully sooner. 🚀

[2021-08-19 00:48] devshawn commented on #73
A new release with the latest clients will be available by the end of this weekend, if not sooner. :)

[2021-08-27 12:08] jaykatti opened #77 "Blocker: customUserAcls - Plan command - Marks the action for every entry on the state.yaml as "REMOVE"."
I have generated a current state.yaml for my existing cluster.
I changed some couple of users the permission as "DENY". So I was expecting the "plan" command to show me those many "updates", instead, it is including those records in the plan json file and marks everything else for "REMOVE".

Kindly advise at the earliest.

This currently is not allowing me to deploy onto our server, so we can incl

[2021-08-31 06:06] jaykatti commented on #77
Hello Shawn, Thanks for your response !

For the below sample state.yaml, if I have to change the permission for describe_configs_topic to "DENY". I change the permission to "DENY" for that block and then run the kafka-gitops command for validate, plan.
When I run the plan, I see that, the plan indicates "Delete" or "Remvove" for all the ACL's present in my system and not just the ones in the yaml

[2021-08-31 06:08] jaykatti commented on #77
host above is * for all the records.

[2021-09-14 10:58] sunny092318 opened #78 "plan error"
I am trying to setup the kafka-gitops for my project. We have four kafka broker as per below, once I setup the environment variables export KAFKA_BOOTSTRAP_SERVERS=xxxx.xxxx.xxx.xxx.example.org:9092 on my jump box. Then executing the plan, getting the below error.

## kafka-gitops -v  plan
Generating execution plan...

11:03:51.023 [main] INFO com.devshawn.kafka.gitops.config.KafkaGitopsConfigLoad

[2021-09-14 16:25] Twb3 commented on #50
@HSA72 I apologize for not following up on this sooner.  I have not had the opportunity recently to dedicate time to this feature.

@jrevillard Thanks for posting that link to the schema registry gitops implementation!  Looks promising.

[2021-09-14 16:34] Twb3 commented on #50
Nice I will take a look!

[2021-09-15 02:29] devshawn commented on #50
@jrevillard I wasn't aware of that project - pretty nice. I still like our approach of putting it into this tool. Maybe their owner would like to help contribute as well?

I'll let you and @Twb3 take the lead on this and then give suggestions and take a look at the POC shortly.

[2021-09-16 21:03] TylerLubeck opened #79 "Feature request: Possibility to manage ACLs only"
This is a lot like #51 , but for a different segment of configuration management.

I'm in a situation where it would be nice to only manage ACLs and not topics. We have a handful of tools that generate topics as needed (ksqldb, flink, some in-house applications), and we're in the middle of setting up ACLs for some of our other topics.

Problem is, any time we leave these configurations out of our

[2021-09-16 21:51] TylerLubeck commented on #79
Nevermind, I just found
[code]

  Got way too excited to write some java and missed some documentation.

[2021-09-16 21:51] #79 closed

[2021-09-21 07:06] jaykatti commented on #77
Hello @devshawn , Any further update for me on this please ?

[2021-09-21 07:49] jaykatti commented on #77
I have generated a yaml (initial state) for my existing cluster. Now, this includes a large list of users and ACL's. I will use this as my base configuration and start modifying it based on the requirement. Either update an ACL or delete or Add a new one.
Say, I want to add a new ACL to the existing list, How do I go about this ? I do not want any of my existing ACL's to be deleted.

Kindly advise

[2021-09-21 16:11] #34 closed

[2021-09-21 16:12] #65 closed

[2021-09-21 16:16] devshawn commented on #77
Hi @jaykatti,

You have to have every ACL listed in your state file. So you need to take your existing cluster and make an initial state file with all topics / ACLs until you run a plan and it says there are no changes. Then, you can start adding/removing ACLs and it will only have the changes you want.

Or am I misunderstanding the situation?

[2021-09-21 16:20] devshawn commented on #78
Hi @sunny092318, this timeout usually happens if you have not set credentials. You likely need to set more than just your bootstrap servers.

[2021-09-21 16:21] devshawn commented on #75
Hmm, this could be a bug, I will have to do some testing.

[2021-09-21 16:24] devshawn commented on #62
I ran into this with Confluent Cloud as well. They set defaults from the UI and they appear to be user-set from Kafka's API, so kafka-gitops sees them as custom values.

I agree, default config values would be a good feature.

[2021-09-21 16:34] jaykatti commented on #77
Hello Shawn,

Yes, I have already completed the below steps -
-  Generate the state.yaml for my cluster ( This has all the current ACL's
for my cluster ).

I am running the plan on this yaml and it marks all the existing ACL's for
deletions.
This is where, I was confused.
Ideally, I expected the plan to have nil deletions.

Can you pls. guide me on this ?

Thanks,
Jay.

On Tue, Sep 21, 2021 at 6:1

[2021-09-22 08:40] sunny092318 commented on #78
@devshawn Thanks for providing assistance. Trying to setup kakfa-gitops for on-premises kafka cluster consist of multiple broker which has GSSAPI Kerberos enabled environment. I do pass below parameter as environment variables but unable to connect to kafka broker. Does current version of kafka-gitops support GSSAPI Kerberos authentication.

====
kafka-gitops -v --no-delete plan
Generating executi

[2021-09-22 08:44] sunny092318 commented on #78
@devshawn Thanks for providing assistance. Trying to setup kakfa-gitops for on-premises kafka cluster consist of multiple broker which has GSSAPI Kerberos enabled environment. I do pass below parameter as environment variables but unable to connect to kafka broker. Does current version of kafka-gitops support GSSAPI Kerberos authentication.

====
kafka-gitops -v --no-delete plan
Generating executi

[2021-09-23 04:46] #78 closed

[2021-09-23 04:46] sunny092318 commented on #78
Got resolved ..

[2021-09-25 16:24] fireydagostino commented on #77
Hi @jaykatti

You're stating a `customUserAcls` in the above text - do you have a matching `users` in your state.yaml file as well?

Every `customUserAcls` and `customServiceAcls` is connected to a matching `users` and `service` respectively.

If you're only claiming the `customUserAcls` in your state file without the matching `users` definition, then the plan will disregard the `customUserAcls` l

[2021-09-28 06:19] jaykatti commented on #77
Oh !! Okay, Let me try that.

Thanks !, I will keep you posted.

[2021-09-28 13:14] jaykatti commented on #77
Sorry, closed by mistake

[2021-09-28 13:17] jaykatti commented on #77
-----------------------------------------------------------
Hello @fireydagostino @devshawn

I tried with that and it seems to be working. So many thanks !

Do we also need to list all the topics as part of the state.yaml ?
I see, when I run the plan, it is marking the topics for deletion, even though, there are ACL's for those topics.
Kindly confirm !

Thanks,
Jay.

[2021-09-28 13:43] fireydagostino commented on #77
Yeah @jaykatti

The state file literally claims everything that should be present within the current state of your Kafka cluster.

Any topics/ACLs that are on Kafka, but not defined for in your state will be privy to deletion upon execution - and respectively the opposite for topics/Acls defined in your state but not present on Kafka.

Your `state.yaml` file will need
- default options / blacklist

[2021-09-28 13:48] jaykatti commented on #77
Thanks a lot for the clarification.
Would you please share a sample state.yaml from ur environment ?

Thanks and regards,
Jay

On Tue, 28 Sep 2021, 7:13 pm fireydagostino, ***@***.***>
wrote:

[2021-10-04 11:20] userlarsb opened #81 "plan dies with a nullpointer exception"
After setting `KAFKA_SASL_JAAS_USERNAME`, `KAFKA_SASL_JAAS_PASSWORD` and `KAFKA_BOOTSTRAP_SERVERS` running `kafka-gitops validate` as well as `kafka-gitops plan` results in
[code]
I tried it with both 0.2.14 and 0.2.15.

[2021-10-04 14:44] fireydagostino commented on #81
Looking at the error - and checking the line in the code
`if (config.get(SaslConfigs.SASL_MECHANISM).equals("PLAIN")) {`

You're likely missing the setting `KAFKA_SASL_MECHANISM`

[2021-10-19 18:14] devshawn commented on #67
FYI, a new release with the newly merged PRs should be coming by this weekend. Getting to this fell off my radar.

[2021-10-25 07:35] JBrejnholt commented on #67
Hey @devshawn, when will the new release be available? Thanks!

[2021-10-25 13:21] winterelf commented on #46
Hi,
We are also evaluating this in order to use it, we encounter some enhancement which will make this project really fit to devops team solution:
1 - export state of existing cluster: most companies will start using the tool with existing kafka cluster which already have ACLs and topics, it will be crazy to map the whole cluster into a state file manually.
2. templating the whole project so that

[2021-10-28 15:07] niccrane opened #82 "MSK IAMs Authentication Support"
Hi there!

This is such a fantastic project and it's going to be super useful for our usecase. I was just wondering if the standard docker container has MSK IAM authentication support?

Looking at the [AWS documentation](https://docs.aws.amazon.com/msk/latest/developerguide/iam-access-control.html#configure-clients-for-iam-access-control), you can see an extra class is required with a few extra co

[2021-11-01 11:34] niccrane commented on #82
Had a little play - Created the following Dockerfile

[code]

MSK IAM Jar now exists in the docker image.
Used environment variables which look like this:
[code]

Verbose output
[code]

I've even tried setting the **CLASSPATH** to **/usr/local/openjdk-8/lib/aws-msk-iam-auth-1.1.1-all.jar** with the same output.

It's possible I've missed something but it appears kafka-gitops is not compatible with

[2021-11-10 09:27] ghost commented on #82
I have also tested this with the same result as @nicoodle. I was however able (minimal testing so far) to enable SASL/SCRAM (in addition to IAM which we'll use for applications) and was able to get kafka-gitops working with the following environment variables after creating a Secret and associating it with the MSK Cluster:

[code]

Maybe not the solution you were looking for, but a work around unt

[2021-11-16 11:30] gurpiarbassi opened #83 "Documentation around usage"
I feel the documentation is a little light around usage of kafka-gitops.
Can someone help answer the following questions?

1) Is it possible to increase the number of partitions on an existing topic? I tried it and it detected no changes.

2) Is it possible to decrease the number of partitions safely? what would happen if the topic contained records?

3) Is it possible to rename a topic? What is t

[2021-11-16 16:42] alex036 commented on #67
@devshawn Any updates? Should potentially think about getting additional maintainers for this project.

[2021-11-16 22:58] devshawn commented on #67
Hi all,

The next release will be pushed this week. I’ll look into more maintainers
in the future. Apologies for the wait.

On Tue, Nov 16, 2021 at 10:42 AM Alex ***@***.***> wrote:

[2021-11-25 00:18] fireydagostino commented on #83
So regarding your points:
1. I don't believe kafka-gitops natively supports increasing partitions counts via changing the value within the application. Changing the partition count of a topic is a one-way road (i.e. you can only increase the partition count of a topic).
2. As said above, in Kafka you can only ever increase the number of partitions.
3. In Kafka, you can't change the name of a topic

[2021-11-25 07:46] jrevillard commented on #83
@gurpiarbassi , on master you can increase partitions and manage replicas.

Best,
Jerome

[2021-11-29 13:40] vuldin opened #84 "Brew warning about use of deprecated bottle call"
I just installed kafka-gitops via brew, and I received the following output:

[code]

The installation was successful, but it was printed in the console 3 times.

[2021-12-01 18:31] AllenSandersUS opened #85 "Plans for Move to `confluent` vs. `ccloud` CLI?"
Given that Confluent is planning to sunset `ccloud` and has merged its functionality into the latest version of the `confluent` CLI (https://docs.confluent.io/ccloud-cli/current/migrate.html), are there plans to migrate this tool to leverage the `confluent` CLI behind-the-scenes instead?

[2021-12-03 07:48] mantoine96 commented on #82
Hey!

We've been using `kafka-gitops` with MSK and IAM auth like this:
[code]
With `AWS_MSK_IAM_PLUGIN_PATH` being the path to the MSK IAM Auth plugin jar, and `KAFKA_GITOPS_PATH` being the path to the kafka-gitops executable.

That works really well, as long as you have valid AWS credentials :)

[2021-12-19 23:22] qazaqstan2025 opened #86 "[Security] Workflow release.yml is using vulnerable action actions/checkout"
The workflow release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2021-12-23 22:37] MichaelBeausoleil commented on #83
Any idea when the next version will be released so we can have the ability to change partitions and replication?

[2022-01-14 18:53] jaykatti opened #87 "Topic Configs are considered to be added in "Plan" even if they are present in the existing system."
Hello @devshawn ,

I have created a state.yaml file from the existing system.
1. I have validated it successfully.
2. When I run the "plan", it still indicates the Topic configs as "to be added".

Expectation: I should see zero("0") updates/

Output json from "plan" command:

"configs": {
          "compression.type": "producer",
          "message.downconversion.enable": "true",
          "min.in

[2022-01-14 18:57] jaykatti commented on #81
It happened with me as well. The issue for me was - one of the config values are empty or null.

[2022-01-18 09:49] jaykatti opened #88 "Can I apply changes(the plan json) selectively for ACLs only ?"
Hello @devshawn,

I would like to apply changes only related to ACL's and not touch anything on Topics.
Is that possible ?

Would appreciate your quick response on this clarification as I need to close on this implementation from my side.

Thanks,
Jay.

[2022-01-18 09:50] jaykatti commented on #87
@devshawn   Would appreciate your quick response on this please.

[2022-01-19 17:21] tball-dev commented on #85
I've got a commit ready for this, but confluent has changed the way IDs are returned by the new CLI.  For `confluent iam service-account list -o json` they have removed the numeric ID and replaced the ID field with the alpha-numeric ID.  Currently, kafka-gitops generates the resource_principal on ACLs with the numeric ID returned by `ccloud service-account list -o json`.  For existing Confluent Cl

[2022-02-10 11:11] BitProcessor opened #89 "Invert deletion / creation process"
Recently changed some stuff around where I went from `type: application` to `type: kafka-streams`.
That - of course - lead to a bunch of ACL creation and deletion events, which ran just fine, nothing to remark there.

However, and I am assuming this is the case for the entire application, the _deletes_ happen **before** the _creations_ and that caused an issue that - I think - could be avoided:

D

[2022-02-10 11:13] BitProcessor commented on #89
@marcellorego ^^^

[2022-02-11 12:22] deepbrook opened #90 "Feature Request: Support Topic Whitelisting"
Currently, only topic black-listing is supported, which works great for centralized ACL management.

However, it makes decentralized topic management difficult. We have multiple teams managing their own kafka topics on the same cluster. They currently need to blacklist each of the other teams' prefix. Whenever we onboard new teams, the blacklist needs updating - a *very* error-prone process, becau

[2022-02-28 23:19] irisgve commented on #34
👋🏻 Hello @devshawn wondering when a release for the fix for this issue is going to be released? Thanks!

[2022-03-08 05:40] samunnat commented on #84
It looks like this has escalated from a warning to an error. As of Homebrew 3.4.1, I'm unable to tap `devshawn/kafka-gitops` because of this.

It's caused by this line:
https://github.com/devshawn/homebrew-kafka-gitops/blob/master/kafka-gitops.rb#L8

[code]

Until this is fixed, I'm just installing from https://github.com/devshawn/kafka-gitops/releases

[2022-03-08 18:12] xavier-s commented on #84
It seems like this issue has now been escalated to an error.

I was attempting the install kafka-gitops via brew but I am getting the same error:
[code]

[2022-03-12 18:47] taislapta commented on #88
`--skip-topics` flag reply apreciated

[2022-03-14 10:16] taislapta commented on #89
would be nice to have `--target` if I like to delete only specific ACL

[2022-03-17 21:06] mlopez-eb commented on #84
It seems like this issue has now been escalated to an error.

`Homebrew 3.4.2
Homebrew/homebrew-core (git revision 5667283afc8; last commit 2022-03-17)
Homebrew/homebrew-cask (git revision ddec37a5da; last commit 2022-03-17)`

I attempted to `brew tap devshawn/kafka-gitops` and got the following error:

[code]

[2022-03-18 21:59] mlopez-eb commented on #85
So essentially we can't do anything with this until the migration is fixed? I was going through the quick start steps [here](https://devshawn.github.io/kafka-gitops/#/confluent-cloud) and ran into this error when running the shown command:
[code]
But when I run `confluent iam service-account list` I get a full list of the service accounts in the whole org. My assumption is that it has to do with r

[2022-03-24 17:43] AlexMiroshnikov commented on #67
Hello @devshawn ! Thank you for this awesome tool!

I experience the need of supporting in `settings.topics.defaults.*` more than just `replication`, and I'd be happy to contribute, but I'm not sure, whether this repo is actually maintained.

So I'm wondering, how big are the chances that a potential MR will be approved and merged "timely"?

Thank you!

[2022-04-21 16:09] FloEc commented on #85
According to the support team, it is still possible to obtain the IDs directly via the API endpoint https://api.confluent.cloud/service_accounts as a json. This will continue to work for a certain time. At first glance, it looks like this contains the correct numeric ID.
Are there any opinions or vetoes on this?

[2022-04-28 05:23] ghost commented on #85
I would be interested with some updates on this, I have created a modified version of kafka-gitops that uses `confluent` instead, and I am willing to redeploy my infrastructure with the new IDs. However I am less willing to do that if upstream (here) will continue to use the old numeric id field (meaning that eventually we will have to migrate back)

Will kafka-gitops migrate to alphanumeric ids o

[2022-05-02 22:49] tball-dev commented on #85
It looks like creating an ACL with a service-account alpha-numeric id as the principal only works with `confluent kafka acl create`.  Passing the principal id as `User:sa-12345a` to the AdminClient or kafka-acls.sh creates the ACL with the alpha-numeric id.  ACLs with this principal Id _**do not**_ work.  If you create an ACL with `confluent kafka acl list --service-account sa-12345a` and retrieve

[2022-05-04 09:15] FloEc commented on #85
As a workaround you can use the following script as a ccloud alternative:
https://gist.github.com/FloEc/c7c38c4ba24ef3c6b9c5c34da3591b77

This script can be placed in the path and called with "ccloud service-account list -o json". The output corresponds exactly to the result that ccloud would return. This should make it possible to create ACLs even after May 9th.
Confluent could not tell us an exa

[2022-05-31 11:36] michael-demian commented on #85
did we manage to get a workaround or updates on this one since ccloud CLI has already been deprecated since May 9th and now the pipeline is broken :(

[2022-06-05 11:37] FloEc commented on #85
@michael-demian you can use https://gist.github.com/FloEc/c7c38c4ba24ef3c6b9c5c34da3591b77 as an alternative ccloud cli to get service account ids from confluent cloud.

[2022-06-21 21:10] koenigroland opened #92 "Feature Request: Provide public Docker image based on java 11"
Currently the public Docker image (https://hub.docker.com/r/devshawn/kafka-gitops) is based on java 8.

To use the tool in a CI/CD pipeline, together with other tools, it would be practical to be able to use language features of newer java versions (at least java 11).
Is it possible to provide the public Docker image with a more recent java version?

[2022-06-28 14:28] chamilto opened #93 "Entire configuration including password is logged"
Is there an environment variable we can set to _not_ log the Kafka password? At the very least is there an option to set the log level threshold above INFO so that our passwords aren't leaked into logs?

[2022-07-25 17:37] n2taylor opened #94 "Latest Docker version (0.2.15 - master) cannot parse state file"
Hi, there's something wrong with the Docker version published with the `latest` tag (0.2.15, but possibly running `master` code?). It always gives a NPE when parsing the state file:

[code]

This same command works fine on the image tagged with `0.2.15`. I suspect recent changes on `master` caused this but have no way to verify this.

[2022-08-02 07:46] jrevillard commented on #67
So ?...

[2022-09-18 12:11] joschi commented on #94
This is a regression which was introduced by https://github.com/devshawn/kafka-gitops/pull/68, making the configuration file a mandatory parameter (and then ignoring its content 🙃).

[2022-09-30 07:16] oocx opened #96 "kafka-gitops should never output passwords"
When I run kafka-gitops with -v, it outputs username and password in plain text:

[code]
If I run kafka-gitops as part of a job in our kubernetes cluster, the password will end up in our log files.

kafka-gitops should never print credentials to avoid leaking them to logs.

[2022-10-19 21:01] joschi commented on #96
Duplicates #93

[2022-10-19 21:57] joschi commented on #92
@koenigroland If you're still interested, there's an image of this project with a few bug fixes and dependency update (for example Java 11) at https://github.com/joschi/kafka-gitops/pkgs/container/kafka-gitops/46491150?tag=0.2.16.

Pull from the command line:
[code]

Use as base image in Dockerfile:
[code]

[2022-10-19 21:58] joschi commented on #94
@n2taylor If you're still interested, there's a release with a fix for this at https://github.com/joschi/kafka-gitops/releases/tag/0.2.16.

[2022-10-19 22:14] joschi commented on #93
@chamilto If you're still interested, this issue should have been fixed in https://github.com/joschi/kafka-gitops/releases/tag/0.2.16.

[2022-10-19 22:14] joschi commented on #96
@oocx If you're still interested, this issue should have been fixed in https://github.com/joschi/kafka-gitops/releases/tag/0.2.16.

[2022-10-19 22:18] joschi commented on #73
@andrecowie If you're still interested, this issue should have been fixed in https://github.com/joschi/kafka-gitops/releases/tag/0.2.16.

[2022-10-19 22:18] joschi commented on #81
If you're still interested, this issue should have been fixed in https://github.com/joschi/kafka-gitops/releases/tag/0.2.16.

[2022-10-20 06:50] ubertot commented on #81
Then we can actually close the issue. Thank you so much  :)

[2022-10-20 07:56] joschi commented on #81
Please note that https://github.com/joschi/kafka-gitops is an unofficial fork of this project. 😄

[2022-11-11 13:50] joschi commented on #90
FYI: I've added this functionality to my fork of kafka-gitops.

➡️ https://github.com/joschi/kafka-gitops/releases/tag/0.3.0

Please note the renaming of `blacklist` to `exclude` and the corresponding `include` setting.

[2022-11-11 13:51] joschi commented on #88
FYI: I've added this functionality to my fork of kafka-gitops.

➡️ https://github.com/joschi/kafka-gitops/releases/tag/0.3.0